* {
    border: solid 1px red;
}

.page-wrap  {
    display: flex;
    flex-direction: column;
}

.header,
.banner,
.random.ifo,
.cards,
.quote,
.quotee,
.call-to-action {
    margin: 0 10rem;
}

.header,
.banner,
.section2,
.call-to-action {
    display: flex;
}

.section1,
.footer {
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.banner {
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    font-weight: 600;
}
.section2,
.section4 {
    background-color: #f9faf8;
}
.header,
.footer {
    color: #f9faf8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;    
    display: flex;
    gap: 1rem ;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text {
    color: #f9faf8;
    font-size: 18px;
}

button,
.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
}

.section3{
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}