.page-wrap  {
    display: flex;
    flex-direction: column;
}

.header,
.banner,
.random.ifo,
.cards,
.quote,
.quotee,
.call-to-action {
    margin: 3rem 10rem;
}

.header,
.banner,
.section2,
.call-to-action,
.cards,
.section3, 
.section4 {
    display: flex;
}

.section1,
.footer {
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.banner {
    justify-content: space-between;
}

.section2,
.section3 {
    flex-direction: column;
}

.random-info{
    text-align: center;
}

 .cards {
    justify-content: space-evenly;
 }

 .caption,
 .footer {
    text-align: center;
 }

.logo {
    font-size: 24px;
    font-weight: 600;
}

.section2,
.section4 {
    background-color: #f9faf8;
}
.header,
.footer {
    color: #f9faf8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;    
    display: flex;
    gap: 1rem ;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text {
    color: #f9faf8;
    font-size: 18px;
}

button,
.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.5rem 1rem;
}

.section3 {
    background-color: #e5e7eb;

}

.quote,
.quotee {
    color: #1f2937;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
}

.quotee {
    text-align: right;
    margin-bottom: 2rem;
 }

.quote-text,
.quotee-text {
    margin-top: 0;
    margin-bottom: 0;
 }

 .action-title{
    margin-bottom: 3px;
    font-weight: 600;  
}

.action-text {
    margin-top: 3px;
}

.signup {
    height: min-content;
    border: solid 1px #f9faf8;
}

.call-to-action {
    width: fit-content;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.card1, 
.card2, 
.card3, 
.card4,
.call-to-action,
button {
    border-radius: 15px;
}

.card1, 
.card2, 
.card3, 
.card4 {
    margin: 5px;
    padding: 10px;
    border: solid 4px #3882f6;
}

.section4 {
    flex-direction: row;
    justify-content: space-around;
}